.sapUiPopupWithPadding .sapMDialogScrollCont {
    padding: 4rem;
    padding-top:0.5rem !important;
}

.AworkEq{
	margin-left:1rem !important;
}
.AworkTy{
margin-left:2rem!important;
}

.AbusinessAr{
	margin-left:2rem !important;
}

.AworkCe {
	margin-left:1.2rem !important;
}

.AfuncLo {
	margin-left:2rem !important;
}
.Aassembly{
	margin-left:2rem !important;
}
.AcontrolKey{
		margin-left:1.7rem !important;

}
.AactivityTy{
		margin-left:1.5rem !important;

}
.AplanningGrp{
		margin-left:1.5rem !important;

}

.AComment{
	margin-left:5rem !important;
	margin-top:1rem !important;
}

.AcommentBox{
	margin-left:1rem !important;

}

.AbusinessAr{
	margin-left:2rem !important;
}


.Aplanning_plt{
	font-family: Open Sans !important;
	width: 10rem;
    margin-left: 0.5rem !important;
}

.Abasic_start{
	font-family: Open Sans !important;
	width: 10rem;
    margin-left: 1rem !important;
}

.Aassign_dt{
	font-family: Open Sans !important;
	width: 10rem;
    margin-left: 1rem !important;
}

.Ainctmang_approve{
	
	    margin-left: 46rem !important;

}


.Ainctmang_create{
	    margin-left: 10rem !important;
}


.Aassign_dt{
	font-family: Open Sans !important;
	width: 10rem;
    margin-left: 1rem !important;
}

.Ainctmang_report_on{
    margin-left: 3.6rem !important;
}

.Ainctmang_basic_finish_dt{
    margin-left: 2.1rem !important;
}


.Abasic_start{
	font-family: Open Sans !important;
	width: 10rem;
    margin-left: 1rem !important;
}

.Aassign_dt{
	font-family: Open Sans !important;
	width: 10rem;
    margin-left: 1rem !important;
}

.Ainctmang_group{
    margin-left: 2.3rem !important;
}

.Ainctmang_priority{
    margin-left: 5.5rem !important;
} 

.Ainctmang_Action{
    margin-left: 4.9rem !important;
}
.Ainctmang_Status{
    margin-left: 5.9rem !important;
}


.Ainctmang_equi{
    margin-left: 3.3rem !important;
}

.AinctmangCreatincdClass1{
	font-family: Open Sans !important;
    margin-left: 0.5rem !important;
}